<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{pageTitle}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Product Catalogue <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Categories</a></li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-4 ">
      <label class="control-label">Filter :</label>
      <input class="col-md-offset-1" type="text"  [(ngModel)] = 'listFilter'>
    </div>
</div>
<div class="row">
    <div class=" col-md-4 ">
      <h3>
        <label class="control-label" >Filter by : </label>
        <label class="control-label" > {{listFilter}}</label>
      </h3>
   </div>
</div>

<div class="table-responsive" >
    <table class="table" *ngIf='products && products.length'>
        <thead>
        <tr>
            <th >
                <button class="btn btn-primary" 
                        (click) = 'toggleImage()'>
                    {{showImage ? 'Hide Image' : 'Show Image'}}
                </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody >
            <tr *ngFor = "let product of products" >
              <td><img *ngIf = 'showImage'
                       [src]='product.imageUrl' 
                       [title]='product.productName' 
                       [width]='imageWidth' 
                       [height]='imageHeight'></td>
              <td>{{ product.productName }}</td>
              <td>{{ product.productCode }}</td>
              <td>{{ product.releaseDate }}</td>
              <td>{{ product.price | currency}}</td>
              <td>{{ product.starRating }}</td>
            </tr>
        </tbody>
    </table>
</div>